
<!-- TO DO -->
<h3>Home Page</h3>

<p>Links:</p>

<ul>
<li><a href="{{#pathTo "posts"}}{{/pathTo}}">List of Posts</a></li>
<li><a href="{{#pathTo "post" postId=1 }}{{/pathTo}}"">or Go to First Post</a></li>
</ul>

<p>
<a href="{{#pathTo "admin" admin="settings" }}{{/pathTo}}">[ Admin ]</a>
</p>
