

<!-- TO DO -->

<h3>Showing a single Post</h3>

<p>
Placeholder template for how a "post" should look like.
</p>

<p>
Details about a specific post here.
</p>

<p>
<a href="{{#pathTo 'home'}}{{/pathTo}}">[ Home ]</a>
</p>

