

<!-- TO DO -->
<h3>Showing a list of Posts</h3>

<p>
Placeholder template for how to show a list of "posts".
</p>

<p>
You should see a list of posts here.
</p>

<ul>
<li><a href="{{#pathTo "post" postId=1}}{{/pathTo}}">Post #1</a></li>
<li><a href="{{#pathTo "post" postId=2}}{{/pathTo}}">Post #2</a></li>
<li><a href="{{#pathTo "post" postId=3}}{{/pathTo}}">Post #3</a></li>
</ul>

<p>
<a href="{{#pathTo "home"}}{{/pathTo}}">[ Home ]</a>
<a href="{{#pathTo "admin" admin="settings" }}{{/pathTo}}">[ Admin ]</a>
</p>

