<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=600"/>
  <title>Example - Simple</title>
  <!--
  <link href="/css/style.css" media="screen" rel="Stylesheet" type="text/css"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/JohnResig" />
  -->
  <script>
    {{{state}}}
  </script>
</head>
<body>

This is the main layout that will appear in all pages.

  {{{body}}}


</body>
</html>
